{% extends 'base.html' %}
{% block title %}دیجی کالا|ورود به حساب{% endblock %}

{% block content %}
<h2> ورود به حساب</h2>

<form method="post" class="auth-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        <label for="id_username">شماره تلفن</label>
        {{ form.username }}
    </div>
    <div class="form-group">
        <label for="id_password">رمز عبور</label>
        {{ form.password }}
    </div>
    {% if error %}
        {{ error }}
    {% endif %}

    <button type="submit" class="btn">ورود</button>

    <p class="auth-link">حساب ندارید؟ 
        <a href="{% url 'signup' %}">ساخت حساب</a>
    </p>
</form>
{% endblock %}
